.img {
    float: right;
    opacity: 0.4;
    transform: rotate(20deg);
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    grid-area: overlap;

}

.home__container{

}

.home__headers {
  font-size: 2rem;
}


.home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    
}

.banner{
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 60px;
}
/* .btn {
    background-color: rgb(174, 162, 238);
    display: inline-flex;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    align-items: middle;
  } */
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(62, 38, 202);
  }

  .center__icons {
    display: inline-flex;
    align-items: center;
  }